Body {
  background-color: black;
  color:lime;
  font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: xx-large;
} 

.container {
  margin: auto;
  max-width: 80%;
}

img {
  max-width: 40%;
  border-radius: 20px;
}

button {
  background-color: lime;
  color: black;
  border: limegreen 2px solid;
  left: 50%;
  font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;
  font-size: xx-large;
  display: inline-block;
  height: 45px;
}

#go-btn {
  margin-top: 5%;
}

input {
  background-color: black;
  color: lime;
  border: lime 1px solid;
  margin-left: 5%;
  display: inline-block;
  height: 45px;
  font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;
  font-size: xx-large;
  margin-top: 2%;
}

.hide {
  display: none;
}

.notes {
  margin-left: 10px;
  margin-right: 10px;
  background-color: lime;
  padding: 5px;
}

input:focus, textarea:focus, select:focus {

  border: 1px solid rgba(233, 229, 29, 0.945) !important;
  
  box-shadow: 0 0 3px rgba(233, 229, 29, 0.945) !important;
  
  -moz-box-shadow: 0 0 3px rgba(233, 229, 29, 0.945) !important;
  
  -webkit-box-shadow: 0 0 3px rgba(233, 229, 29, 0.945) !important;
  
  }
  
  input:focus, textarea:focus, select:focus {
  
  outline-offset: 0px !important;
  
  outline: none !important;
  
  }