Body {
  background-color: black;
  color:lime;
  font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;
  text-align: center;
  font-size: xx-large;
} 

.container {
  margin: auto;
  max-width: 80%;
}

button {
  background-color: lime;
  color: black;
  border: limegreen 2px solid;
  left: 50%;
  font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;
  font-size: xx-large;
  display: inline-block;
  height: 45px;
}

#go-btn {
  margin-top: 5%;
}

input {
  background-color: black;
  color: lime;
  border: lime 1px solid;
  margin-left: 5%;
  display: inline-block;
  height: 45px;
  font-family: 'Permanent Marker', cursive;
  font-family: 'VT323', monospace;
  font-size: xx-large;
}

.hide {
  display: none;
}

.notes {
  margin-left: 10px;
  margin-right: 10px;
  background-color: lime;
  padding: 5px;
}