#header h1 {
  text-align: center;
}

#user-form {
  padding: 2%;
}

#output {
  display: none;
}

#label2 {
  display: none;
}

#label3 {
  display: none;
}

.notes {
  margin-left: 10px;
  margin-right: 10px;
}